html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  min-height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1048px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #eee;
}

.logo {
  margin: 60px auto 30px;
  display: block;
}

.error {
  padding: 80px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error p {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 8px;
}

.error span {
  font-weight: 500;
  opacity: 0.5;
  font-size: 14px;
  max-width: 50%;
  text-align: center;
}

.footer {
  width: 100%;
  margin-top: 16px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1024px) {
  .logo {
    margin: 50px auto 30px;
    max-width: 250px;
    width: 100%;
    height: auto;
  }

  .error p {
    font-size: 14px;
  }

  .error span {
    font-size: 12px;
    max-width: 70%;
  }
}
